.carrierCore {
  margin-top: 5rem;
  padding: 1rem;
}
.headingSec {
  text-align: center;
}
.headingSec > h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 114.9%;
  letter-spacing: 0.02em;
  color: #151515;
}
.headingSec > p {
  font-weight: 600;
  color: #7000ff;
}
.carrierCore .content {
  /* border: 1px solid green; */
  width: 60%;
  max-width: 1100px;
  margin: auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
}
.contentBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contentBox .imgSec {
  /* border: 1px solid red; */
  width: 80px;
}
.contentBox h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 114.9%;
  letter-spacing: 0.02em;
  color: #000000;
}
.contentBox p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 114.9%;
  letter-spacing: 0.04em;
  color: #343434;
}
.imgSec img {
  width: 100%;
}
@media screen and (max-width: 820px) {
  .carrierCore .content {
    width: 80%;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 580px) {
  .carrierCore .content {
    grid-template-columns: 1fr;
  }
  .content .contentBox {
    padding: 0.5rem;
  }
}
