.soonDiv {
  display: flex;
  gap: 10px;
}
.soon {
  background-color: black;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  border-radius: 30px;
  font-size: 14px;
}
.navbar {
  border-bottom: 2px solid rgba(165, 165, 165, 0.455);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: #080808;
}
.navContent {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 0.5rem; */
}
.ajnalogo {
  /* border: 2px solid rgb(84, 159, 4); */
  max-width: 5rem;
  max-height: 2.5rem;
}
.ajnalogo > img {
  /* border: 1px solid; */
  width: 100%;
}
.navContent .anchors {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid green; */
  /* width: 90%; */
}
.anchors .contactAnchor {
  display: flex;
  align-items: center;
  /* border: 1px solid rgb(96, 92, 92); */
}

/* .contactAnchor a {
  text-decoration: none;
}
.contactAnchor .linkSec {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  color: rgb(5, 5, 5);
  display: flex;
  position: relative;
} */
/* .contactAnchor .linkSec:hover {
  color: black;
} */
.anchors .anchorTypes {
  display: flex;
  justify-content: space-evenly;
}

.anchorsMenu .linkSec {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  /* border: 1px solid green; */
  color: rgb(255, 255, 255);
  display: flex;
  position: relative;
  margin: 0 1rem;
  padding: 2px;
  letter-spacing: 1px;
}
.anchorsMenu .linkSec:hover {
  color: rgb(216, 216, 216);
}
.anchorsMenu .linkSec::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.1rem;
  background-color: rgb(11, 34, 211);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.anchorsMenu .linkSec:hover::after,
.anchorsMenu .linkSec:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.anchors .contactAnchor .linkSec > div {
  width: 1.3rem;
  margin-right: 4px;
}
.contactAnchor .linkSec > div > img {
  width: 100%;
}

.anchorTypes .anchorsMenu {
  padding: 1.2rem 0.1rem;
  position: relative;
}

.anchorsMenu .linkSec > div {
  width: 0.7rem;
  margin-left: 3px;
}
.anchorsMenu .linkSec > div > img {
  width: 100%;
}
.navContent .hamIcon {
  display: none;
  border-radius: 5px;
  width: 40px;
  /* padding: 0.4rem; */
  height: 40px;
}

.anchorsMenu .megaMenu {
  width: 150%;
  margin-top: 1rem;
  position: absolute;
  /* margin: auto; */
  left: -25%;
  opacity: 0;
  visibility: hidden;
}
.anchorsMenu:hover .megaMenu {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease;
  z-index: 100;
}
.megaMenu .megaItem {
  display: flex;
  margin: 0rem auto;
  padding: 0 1rem;
  border-radius: 10px;
  color: white;
  background-color: rgba(60, 60, 61, 0.6);
}
.megaMenu .megaItem > ul {
  /* border: 1px solid red; */
  /* width: 35%; */
  padding: 0;
}
.megaMenu .megaItem > ul > p {
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-weight: 600;
}
.megaItem > ul > li {
  list-style: none;
  font-size: 1rem;
  padding: 2px;
  cursor: pointer;
  margin: 5px 0;
}
.megaItem > ul > li > a {
  text-decoration: none;
  color: rgb(58, 58, 58);
}
.megaItem > ul > li:hover {
  transform: scale(1.005);
  color: rgb(58, 58, 58);
}

.hamIcon img {
  width: 100%;
}
.phnNav {
  display: none;
}
@media screen and (max-width: 1480px) {
  .navbar .navContent {
    /* border: 1px solid red; */
    width: 85%;
  }
  .anchors .anchorTypes {
    width: 80%;
  }
}
@media screen and (max-width: 1280px) {
  .navbar .navContent {
    /* border: 1px solid red; */
    width: 90%;
  }
  .anchors .anchorTypes {
    width: 88%;
  }
}

/* for mobile view */
@media screen and (max-width: 1024px) {
  .navContent .anchors {
    display: none;
  }
  .tabSectionCheck {
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    position: absolute;
  }
  .phnNav {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    right: 0;
    width: 50%;
    max-height: calc(100vh);
    /* overflow: auto; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 1rem;
    overflow: hidden;
    z-index: 5;
  }
  .phnNav .phnNavCh {
    overflow: auto;
    /* border: 1px solid yellow; */
    padding: 10px;
  }
  .phnNavCh::-webkit-scrollbar {
    width: 0.5rem;
  }

  .phnNavCh::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .phnNavCh::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(240, 227, 250, 0.66);
    outline: 1px solid rgb(255, 255, 255);
  }
  .phnNav .tabSection {
    width: 100%;
    color: rgb(18, 17, 17);
    /* border: 1px solid rgb(220, 212, 212); */
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .tabSection .tab_label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    /* background: #2c3e50; */
    font-weight: bold;
    cursor: pointer;
    /* Icon */
  }
  .tabSection .tab_label::after {
    content: 'â¯';
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
  }
  .tabSection .tab_content {
    max-height: 0;
    padding: 0 1em;
    /* color: #2c3e50; */
    /* background: white; */
    transition: all 0.35s;
  }
  .tabSection .tab_content > li {
    list-style: none;
    /* border: 1px solid blueviolet; */
    padding: 0.2rem 1rem;
    cursor: pointer;
  }
  .tab_content > li > a {
    text-decoration: none;
    color: rgb(18, 17, 17);
  }
  .tabSection .tab_content > li:hover {
    color: rgb(130, 84, 246);
  }
  .tabSectionCheck:checked + .tab_label::after {
    transform: rotate(90deg);
  }
  .tabSectionCheck:checked ~ .tab_content {
    max-height: 100vh;
    padding: 1em;
  }

  .navContent .hamIcon {
    display: block;
    /* border: 1px solid red; */
    padding: 2px 8px;
    cursor: pointer;
    z-index: 5;
  }
  .navbar .navContent {
    padding: 0.8rem 1rem;
    justify-content: space-between;
    /* border: 1px solid red; */
  }
  .overlayHndle {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
}
@media screen and (max-width: 820px) {
  .phnNav {
    width: 60%;
    padding: 0;
  }
}
@media screen and (max-width: 680px) {
  .phnNav {
    width: 65%;
  }
}
@media screen and (max-width: 480px) {
  .phnNav {
    width: 100%;
  }
}
