.careerBottom {
  width: 100%;
  border-radius: 5px;
  text-align: center;
  background-color: #f8f8f8;
  padding: 5rem;
}
.careerBottom > h1 {
  margin: 1rem 0;
}
.careerBottom button {
  border: none;
  width: fit-content;
  height: 53px;
  padding: 0 25px;
  background: #7000ff;
  border-radius: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
