.container {
  /* border: 1px solid white; */
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-top: 8rem;
  background-image: url('../../asets/blurr.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Ajnadesc {
  width: 48%;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #d6d6d6;
  text-align: center;
  padding: 1rem 0.8rem;
}
.AjnaboltImg {
  color: white;
  display: flex;
  justify-content: center;
  width: 85%;
  margin-top: 1.2rem;
}
.AjnaboltImg img {
  width: 100%;
  height: 100%;
}
.line {
  width: 100%;
  height: 1px;
  background: #a966ff;
}

@media only screen and (max-width: 1540px) {
  .heading {
    margin-top: 6rem;
  }
  .Ajnadesc {
    width: 60%;
  }
}
@media only screen and (max-width: 500px) {
  .heading {
    font-size: 2.4rem;
    margin-top: 6rem;
  }
  .AjnaboltImg {
    width: 100%;
  }
  .Ajnadesc {
    width: 100%;
    font-size: 1rem;
    letter-spacing: 0.04em;
    /* color: #FFFF; */
    text-align: center;
    padding: 2rem 3rem;
  }
}
