.cardContainer {
  display: flex;
  gap: 32px;
  align-items: center;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  height: 375px;
  padding-right: 32px;
  box-shadow: 4px 10px 32px -3px rgba(0, 0, 0, 0.18);
}

.imgContainer {
  width: 50%;
  max-width: 60%;
  height: 100%;
  overflow: hidden;
  flex: 0.5;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 44px;
  max-width: 50%;
  flex: 1;
  max-height: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 14px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 114.9%;
  letter-spacing: 0.01rem;
}

.desc {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 114.9%;
  letter-spacing: 0.04em;
  margin-bottom: 14px;
}

.lengthContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.lengthImgContainer {
  height: 24px;
  width: 24px;
  overflow: hidden;
}

.lengthImgContainer img {
  width: 100%;
  object-fit: cover;
}

.lengthTextContainer {
  font-weight: 400;
  font-size: 18px;
  line-height: 114.9%;
  letter-spacing: 0.04rem;
  margin-bottom: unset;
}

.action button {
  padding: 16px 32px;
  color: #fff;
  background-color: #7000ff;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.04rem;

  border-radius: 30px;

  outline: none;
  border: none;
}

@media screen and (max-width: 1260px) {
  .cardContainer {
    height: 440px;
  }
}

@media screen and (max-width: 992px) {
  .cardContainer {
    align-items: flex-start;
    flex-direction: column;
    height: unset;
    padding: 0;
    gap: 24px;
  }

  .imgContainer {
    width: 100%;
    max-width: unset;
    border-radius: unset;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .imgContainer img {
    width: 100%;
    object-fit: cover;
  }

  .detailsContainer {
    max-width: 100%;
    padding: 0 24px 24px;
    gap: 32px;
  }
}
