.mainContainer {
  display: flex;
  flex-direction: column;
  margin: 4% 9%;
  overflow: hidden;
}
.years {
  font-weight: 400;
  font-size: 18px;
  line-height: 114.9%;
  letter-spacing: 0.04em;
  color: #050505;
  padding: 5px 10px;
  border-radius: 50px;
}
.filter {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}
.horizontalLine {
  margin-top: 1.3125rem;
  width: 94.9375rem;
  height: 0.0625rem;
  background-color: #d6d6d6;
}
.seeourContainer {
  margin: 2rem 0;
}
.mediaRewievCont {
  margin-top: 3.25rem;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.ajnmediaCont {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}
.ajnmedia {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 114.9%;
  letter-spacing: 0.02em;
  color: #000000;
}
.ajnmediaTxt {
  width: 68%;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 114.9%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #717171;
}
.releaseCont {
  /* margin-left: 20px; */

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
  /* border: 1px solid black; */
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  color: #717171;
}
.requestInterViewCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.requestInterViewHeading {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 114.9%;
  letter-spacing: 0.02em;
  color: #000000;
}
.requestInterViewText {
  width: 70%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 114.9%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #717171;
}
.Xrimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 1px solid green; */
}
.contactBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.0625rem;
  height: 3.1875rem;
  font-weight: 600;
  font-size: 16px;
  /* identical to box height */
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #7000ff;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 1.875rem;
  cursor: pointer;
  /* border: 1px solid; */
  margin-top: 3rem;
}
.contactBtn:hover {
  color: white;
}
.horizontalLine {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #d6d6d6;
}
.releaseTitle {
  /* border: 1px solid ; */
  color: #484848;
  margin-right: 2.2rem;
  font-size: 20px;
  font-weight: 500;
}

.iconwithBtnCont {
  display: none;
}
.seeourText {
  font-weight: 600;
  font-size: 18px;
  line-height: 114.9%;
  /* identical to box height, or 21px */
  letter-spacing: 0.04em;
  text-transform: uppercase;
  /* Black/6 */
  color: #151515;
}
.select {
  margin-left: 0.6rem;
}
.selectOption {
  display: none;
}
.gridContainer {
  /* border: 2px solid ; */
  margin-top: 2rem;
  width: 100%;
  /* height: 80rem; */
}

.Xrimg {
  width: 100%;
  /* height: 12.5625rem;   */
}
.griditem {
  border: 1px solid #ebebeb;
  border-radius: 15px;
  width: 100%;
  /* height: 22.6875rem; */
  overflow: hidden;
}
.itemImgContainer {
  width: 100%;
  height: 282px;
}
.title {
  margin: 0.5rem 0 0 0.5rem;
  /* border: 1px solid red; */
  font-size: 1.525rem;
  font-weight: 400;
  color: #000000;
}
.releaseTitle {
  color: #484848;

  font-size: 15px;
}
.releaseOn {
  color: #484848;
  font-size: 16px;
  font-weight: 500;
}
.mobile {
  display: none;
}

.gridchild {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media only screen and (max-width: 1700px) {
  .gridchild {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* column-gap: -10rem; */
  }
}

@media only screen and (max-width: 1670px) {
  .gridchild {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .griditem {
    column-gap: -1rem;
    width: 20rem;
    /* background-color: aqua; */
  }
}

@media only screen and (max-width: 1540px) {
  .griditem {
    width: 100%;
  }
}

@media only screen and (max-width: 1240px) {
  .gridchild {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1211px) {
  .griditem {
    width: 25rem;
    /* background-color: aqua; */
  }
}

@media only screen and (max-width: 1070px) {
  .gridchild {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .griditem {
    column-gap: -1rem;
    width: 20rem;
    /* background-color: aqua; */
  }
}

@media only screen and (max-width: 781px) {
  .gridchild {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .griditem {
    column-gap: -1rem;
    width: 18.5rem;
    /* background-color: aqua; */
  }
}

@media only screen and (max-width: 840px) {
  .gridchild {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1rem;
  }
  .griditem {
    width: 28rem;
    /* background-color: aqua; */
  }
}

@media only screen and (max-width: 598px) {
  .gridchild {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1rem;
  }
  .griditem {
    width: 25rem;
    /* background-color: aqua; */
  }
}

@media only screen and (max-width: 375px) {
  .mobile {
    /* background-color: aqua; */
    /* border: 1px solid; */
    width: 104%;
  }
  .ajnmedia {
    /* padding: 10px 10px; */
    /* background-color: aqua; */
    font-size: 30px;
  }
  .ajnmediaTxt {
    /* width: 1px solid; */
    width: 100%;
    /* background-color: aqua; */
    /* text-align: center; */
    font-size: 0.85rem;
    font-weight: 500;
    color: #717171;
  }
  .requestInterViewHeading {
    margin-bottom: 2rem;
  }
  .requestInterViewText {
    width: 1px solid;
    /* background-color: aqua; */
    font-size: 0.94rem;
    font-weight: 500;
    color: #717171;
    margin-bottom: 2rem;
  }
  .ajnmediaCont {
    /* border: 1px solid; */
    width: 90%;
    font-size: 1rem;
  }

  .requestInterViewText {
    /* border: 1px solid; */
    width: 99.5%;
  }
  .itemImgContainer {
    width: 100%;
    height: 282px;
  }
}
/* mobile view respossive */
@media only screen and (max-width: 480px) {
  .ajnmediaTxt {
    width: 80%;
    text-align: center;
    font-size: 0.86rem;
    font-weight: 500;
    color: #717171;
  }

  .gridContainer {
    margin-top: 2rem;
    width: 100%;
    height: 50rem;
  }

  .p {
    width: 1rem;
  }
  .ajnmedia {
    height: 56px;
    font-size: 30px;
  }
  .requestInterViewHeading {
    text-align: center;
    font-size: 36px;
  }
  .horizontalLine1 {
    width: 319px;
  }
  .gridchild {
    display: none;
  }
  .griditem {
    border-radius: 15px;
    width: 100%;
    /* height: 22.6875rem; */
    overflow: hidden;
  }
  .title {
    font-size: 1.12rem;
    font-weight: 500;
  }
  .seeourContainer {
    display: none;
  }

  .mobile {
    display: block;
    width: 100%;
    margin-top: -50rem;
  }
  .requestInterViewText {
    width: 1px solid;

    font-size: 0.94rem;
    font-weight: 500;
    color: #717171;
    margin-bottom: 2rem;
  }
  .requestInterViewHeading {
    margin-bottom: 2rem;
  }
}
